<div class="container" style="max-width: 350px">
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="form-page">
    <div id="signInPrompt">
      <div>
        <div class="m-3"">
          <label for="l_email" class="loginLabel">Email</label><br>
          <input type="l_email" onchange="checkAccountExist()" name="email" class="loginAction" id="l_email" placeholder="bharath@gmail.com" value="{{email}}" required>
          <div id="emailError" class="error-message" style="display: none; color: red; font-size: 10px">
            Account doesn't exist
          </div>
        </div>
        <div class="mx-3 mb-1">
          <label for="password" class="loginLabel" >Password</label> <br>
          <input type="password" name="password" class="loginAction" id="password" placeholder="********" required disabled>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" id="showPassword1" viewBox="0 0 16 16" onclick="showPassword('password', 'showPassword1', 'hidePassword1')">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" id="hidePassword1" viewBox="0 0 16 16" style="display: none" onclick="hidePassword('password', 'showPassword1', 'hidePassword1')">
            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
          </svg>
              <div id="passwordError" class="error-message" style="color: red; font-size: 10px">
                {% with messages = get_flashed_messages() %}  
                   {% if messages %}  
                         {% for message in messages %}  
                              <p>{{ message }}</p>  
                         {% endfor %}  
                   {% endif %}  
                {% endwith %} 
              </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="" style="font-size: 14px">forgot password?</a>
        </div>
        <div id="loginSubmitButton">
          <input type="submit" class="btn btn-primary mx-4" onclick="validatePassword()" value="SignIn">
        </div>
        <div style="font-size: 14px; margin: 3px"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function showPassword(id1, id2, id3) {
    if(document.getElementById(id1).type === 'password'){
      document.getElementById(id1).type = 'text'
      document.getElementById(id2).style.display = 'none'
      document.getElementById(id3).style.display = 'inline'
    }
  }

  function hidePassword(id1, id2, id3) {
    if(document.getElementById(id1).type === 'text'){
      document.getElementById(id1).type = 'password'
      document.getElementById(id2).style.display = 'inline'
      document.getElementById(id3).style.display = 'none'
    }
  }

  async function checkAccountExist() {
    const email = document.getElementById('l_email').value
    try {
      const data = await getUsers(email);
      if (data.length == 0) {
        document.getElementById('emailError').style.display = "block"
        return false;
      }
      else {
        document.getElementById('emailError').style.display = "none"
        document.getElementById('password').disabled = false
        return true;
      }
    } catch (error) {
        console.error(error)
      return false;
    }
  }

  async function validatePassword() {
    const email = document.getElementById('l_email').value
    const password = document.getElementById('password').value
    try {
      const data = await getUsers(email);
      if (data[0]['user_password'] != password) {
        document.getElementById('passwordError').style.display = "block"
        document.getElementById('passwordError').innerHTML = "Invalid Password"
        return false;
      }
      else {
        createSession(email, password)
        document.getElementById('passwordError').style.display = "none"
        document.getElementById('loginForApplication').style.display = "none"
        return true;
      }
    } catch (error) {
        console.error(error)
      return false;
    }
  }
  async function getUsers(email) {
      const response = await fetch('/api/users/'+email);
      if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
      }
      return response.json();
  }
  
  function createSession(email, password) {

      const data = { email: email, password: password };

      fetch('/api/createSession', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById("formSubmitButton").value = "Submit"
      })
      .catch((error) => {
        console.error('Error:', error);
        document.getElementById('passwordError').style.display = "block"
        document.getElementById('passwordError').innerHTML = "Invalid Password"
        return false;        
      });
  }
</script>