<style>
  .center-button {
      display: flex;
      justify-content: center; /* Centers items horizontally */
      align-items: center; /* Centers items vertically */
  }
  h4 {
    font-family: Roboto;
    color: rgb(100, 100, 100);
  }
</style>
<div class="border-bottom row justify-content-between" style="margin-bottom:16px; padding:8px;">
  <div class="col-8">
    <h4>{{job['job_title']}}</h4>
    <div class="mx-2">
      <div><b>Location: </b>{{job['location']}}</div>
        {% if 'salary' in job %}
          <div><b>Salary: </b>{{job['salary']}}</div>
        {% endif %}
      </div>
    </div>
  <div class="col-4 center-button">
    <a href="jobs/{{job['id']}}">
      <button type="button" class="btn btn-outline-primary">Open</button>
    </a>
  </div>
</div>