<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin-top: 50px;
    }
    .container {
      margin-top: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h2 {
      color: rgb(100, 100, 100);
    }
    #loginSubmitButton {
      display: flex;
      justify-content: center; /* Centers items horizontally */
      align-items: center; /* Centers items vertically */
      margin: 7px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="form-page">
      {% if session['email'] %}
        <div id="successLogin">
          {% include "/pages/profile/successLogin.html" %}
        </div>
      {% else %}
      <div id="signInPrompt">
        <h2>Login</h2>
        <div>
          <form name="loginForm" action="/validateUser" id="loginForm" method="post">
            <div class="m-3"">
              <label for="email" class="loginLabel">Email</label><br>
              <input type="email" onchange="checkAccountExist()" name="email" class="loginAction" id="email" placeholder="bharath@gmail.com" value="{{email}}" required>
              <div id="emailError" class="error-message" style="display: none; color: red; font-size: 10px">
                Account doesn't exist
              </div>
            </div>
            <div class="mx-3 mb-1">
              <label for="password" class="loginLabel" >Password</label> <br>
              <input type="password" name="password" class="loginAction" id="password" placeholder="********" required>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" id="showPassword1" viewBox="0 0 16 16" onclick="showPassword('password', 'showPassword1', 'hidePassword1')">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" id="hidePassword1" viewBox="0 0 16 16" style="display: none" onclick="hidePassword('password', 'showPassword1', 'hidePassword1')">
                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
              </svg>
                  <div id="passwordError" class="error-message" style="color: red; font-size: 10px">
                    {% with messages = get_flashed_messages() %}  
                       {% if messages %}  
                             {% for message in messages %}  
                                  <p>{{ message }}</p>  
                             {% endfor %}  
                       {% endif %}  
                    {% endwith %} 
                  </div>
            </div>
            <div class="d-flex justify-content-end">
              <a href="" style="font-size: 14px">forgot password?</a>
            </div>
            <div id="loginSubmitButton">
              <input type="submit" class="btn btn-primary mx-4">
            </div>
            <div style="font-size: 14px; margin: 3px">
              Don't have an account? <a href="signUpPage">Sign Up</a>
            </div>
          </form>
        </div>
        <div id="output"></div>
      </div>
      {% endif %}
    </div>
  </div>

  <script>
    function showPassword(id1, id2, id3) {
      if(document.getElementById(id1).type === 'password'){
        document.getElementById(id1).type = 'text'
        document.getElementById(id2).style.display = 'none'
        document.getElementById(id3).style.display = 'inline'
      }
    }

    function hidePassword(id1, id2, id3) {
      if(document.getElementById(id1).type === 'text'){
        document.getElementById(id1).type = 'password'
        document.getElementById(id2).style.display = 'inline'
        document.getElementById(id3).style.display = 'none'
      }
    }

    async function checkAccountExist() {
      const email = document.getElementById('email').value
      console.log(email)
      try {
        const data = await getUsers(email);
        if (data.length == 0) {
          document.getElementById('emailError').style.display = "block"
          return false;
        }
        else {
          document.getElementById('emailError').style.display = "none"
          return true;
        }
      } catch (error) {
          console.error(error)
        return false;
      }
      async function getUsers(email) {
          const response = await fetch('/api/users/'+email);
          if (!response.ok) {
              throw new Error('Network response was not ok ' + response.statusText);
          }
          return response.json();
      }
    }
  </script>
</body>
</html>